@media screen and (min-width: 740px) and (max-width: 1023px){
    html{
        scroll-padding-top: 80px;
    }
    .scroll_top {
        width: 85px;
        height: 85px;
        font-size: 30px;
    }
    #menu{
        position: relative;
    }
    .menu_list.active{
        transform: translateX(-50%);
        visibility: visible;
    }
    .menu_list{
        visibility: hidden;
        position: fixed;
        top: 93px;
        left: 50%;
        transform: translateX(150%);
        background: #fff;
        width: 800px;
        transition: all 0.6s ease;
        z-index: 10;
        border-radius:  0 0 16px 16px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .menu_list li{
        display: block;
    }
    .menu_item a{
        color: black;
    }
    .menu_item a.active{
        color: black;
    }
    .line{
        display: none;
    }
    .menu_bar_icon{
        display: block;
        margin: auto 0;
    }
    .bar_item1,
    .bar_item2,
    .bar_item3{
        width: 45px;
        height: 5px;
        background-color: black;
        margin-bottom: 10px;
        transition: all 0.5s ease;
    }
    .bar_item1.active2{
        background-color: #fff;
    }
    .bar_item2.active2{
        background-color: #fff;
    }
    .bar_item3.active2{
        background-color: #fff;
    }
    .bar_item1.active{
        transform: translateY(15px) rotate(35deg);
    }
    .bar_item2.active{
        opacity: 0;
        visibility: hidden;
    }
    .bar_item3.active{
        transform:  translateY(-15px) rotate(-35deg);
    }
    #menu{
        margin-top: 0;
        position: fixed;
    }
    .header_item:nth-child(1){
        padding: 80px 20px;
        text-align: center;
    }
    .header_item:nth-child(2){
        text-align: center;
    }
    .header_button {
        margin: 40px auto 0 auto;
    }
    .header_img {
        max-width: 668px;
    }
    .feature_content {
        max-width: 788px;
    }
    .feature_heading {
        font-size: 28px;
    }
    .feature_list {
        padding: 0 58px;
    }
    #overview {
        padding: 72px;
    }
    .overview__item{
        max-width: 93%;
        margin-top: 60px;
    }
    .overview_item3 {
        padding-left: 0;
        margin-top: 100px;
    }
    .content_item1 {
        padding-left: 100px;
    }
    .content_item3 {
        padding-right: 100px;
    }
    .overview_content {
        padding: 89px 0;
    }
    #pricing{
        padding: 60px 0;
    }
    .pri_list{
        padding: 0 64px;
    }
    .pri_item_btn {
        padding: 12px 86px;
        white-space: nowrap;
    }
    .pri_item {
        padding: 25px;
        border-radius: 10px;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
        transition: all 0.6s ease;
        margin-bottom: 49px;
    }
    #team {
        padding: 60px;
    }
    .team_item{
        margin-bottom: 60px;
    }
    .team_info {
        padding: 32px;
        display: block;
        text-align: center;
    }
    .team_social {
        display: flex;
        opacity: 0.8;
        justify-content: center;
    }
    .content_title {
        max-width: 661px;
        margin-top: 46px;
        margin-bottom: 40px;
    }
    #faq {
        padding: 60px;
    }
    .faq_body.active {
        height: 162px;
    }
    #blog{
        padding: 60px;
    }
    .blog_item {
        margin-bottom: 40px;
    }
    #footer {
        padding: 140px 112px;
    }
    .footer_heading {
        font-size: 73px;
        font-weight: 700;
        letter-spacing: 7px;
        margin-bottom: 39px;
    }
    .footer_title {
        font-size: 30px;
    }
    .footer_social {
        display: flex;
        margin: 32px 0;
    }
    .footer_social_item {
        margin-right: 45px;
        font-size: 39px;
    }
    .main_heading {
        font-size: 40px;
        margin-top: 11px;
    }
    .main_item {
        font-size: 28px;
        margin-bottom: 19px;
    }
    .foot_second_heading {
        font-size: 34px;
        margin-bottom: 38px;
    }
    .footer_second_title {
        font-size: 23px;
    }
    .footer_email {
        padding: 0;
        margin: auto;
    }
    .footer_email input {
        font-size: 30px;
        padding: 29px 4px 29px 42px;
        border-radius: 18px;
    }
    .footer_email button {
        padding: 29px 42px;
        font-size: 30px;
        border-radius: 18px;
        margin-left: 0;
    }
}






















@media screen and (max-width: 740px){
    .scroll_top {
        width: 85px;
        height: 85px;
        font-size: 30px;
    }
    #menu{
        position: relative;
    }
    .menu_list.active{
        transform: translateX(-50%);
        visibility: visible;
    }
    .menu_list{
        visibility: hidden;
        position: fixed;
        top: 93px;
        left: 50%;
        transform: translateX(150%);
        background: #fff;
        width: 855px;
        transition: all 0.6s ease;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 8px;
    }
    .menu_list li{
        display: block;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .menu_item a{
        color: black;
        font-size: 43px;
    }
    .menu_item a.active{
        color: black;
    }
    .line{
        display: none;
    }
    .menu_bar_icon{
        display: block;
        margin: auto 0;
    }
    .bar_item1,
    .bar_item2,
    .bar_item3{
        width: 45px;
        height: 5px;
        background-color: black;
        margin-bottom: 10px;
        transition: all 0.5s ease;
    }
    .bar_item1.active2{
        background-color: #fff;
    }
    .bar_item2.active2{
        background-color: #fff;
    }
    .bar_item3.active2{
        background-color: #fff;
    }
    .bar_item1.active{
        transform: translateY(15px) rotate(35deg);
    }
    .bar_item2.active{
        opacity: 0;
        visibility: hidden;
    }
    .bar_item3.active{
        transform:  translateY(-15px) rotate(-35deg);
    }
    #menu{
        margin-top: 0;
        position: fixed;
    }
    .menu_btn{
        display: none;
    }
    .header_item:nth-child(1) {
        padding: 80px 79px;
        text-align: center;
        font-size: 24px;
    }
    .header_title {
        font-size: 24px;
    }
    .header_item:nth-child(2){
        text-align: center;
    }
    .header_button {
        display: block;
        margin: 40px auto 0 auto;
    }
    .header_button_1 {
        margin-bottom: 20px;
        width: 360px;
        padding: 19px 30px;
    }
    .header_button_2 {
        width: 360px;
        padding: 19px 30px;
    }
    .header_img {
        max-width: 668px;
    }
    .feature_content {
        max-width: 628px;
    }
    .feature_text {
        font-size: 22px;
    }
    .feature_icon {
        width: 98px;
        height: 98px;
        font-size: 33px;
    }
    .feature_icon_text {
        font-size: 31px;
    }
    .feature_dis {
        font-size: 26px;
    }
    .feature_head {
        margin-bottom: 15px;
        font-size: 26px;
    }
    .feature_heading {
        /* font-size: 28px; */
    }
    .feature_list {
        padding: 0 30px;
    }
    .feature__item {
        padding: 66px;
        margin-bottom: 30px;
    }
    #overview {
        padding: 35px 35px 100px 35px;
    }
    .overview_btn{
        width: 100px;
        height: 100px;
        font-size: 33px;
    }
    .overview_heading {
        font-size: 35px;
        margin: 45px 0;
    }
    .overview_title {
        font-size: 27px;
        margin-bottom: 36px;
    }
    .overview_btn2 {
        margin-top: 20px;
        width: 250px;
        max-height: fit-content;
        font-size: 26px;
        padding: 19px 30px;
        white-space: nowrap;
    }
    .overview__item{
        max-width: 88%;
        margin: 60px auto 0 auto;
        padding: 0;
    }
    .overview_item3 {
        padding-left: 0;
        margin-top: 100px;
    }
    .content_item1 {
        padding-left: 0;
    }
    .content_heading {
        font-size: 37px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .content_title {
        font-size: 24px;
    }
    .content_item3 {
        padding-right: 0;
    }
    .overview_content {
        padding: 89px 32px;
    }
    .content_num {
        font-size: 56px;
    }
    .content_dis {
        font-size: 26px;
    }
    #pricing {
        padding: 60px 0;
    }
    .pri_list {
        padding: 0 42px;
    }
    .pri_item {
        padding: 39px;
        border-radius: 20px;
        margin-bottom: 100px;
    }
    .pri_item_heading {
        font-size: 29px;
        margin-bottom: 30px;
    }
    .pri_item_title {
        font-size: 23px;
        margin: 0 0 30px 0;
    }
    .pri_item_cost h4 {
        font-size: 50px;
    }
    .pri_item_cost p {
        font-size: 30px;
        color: black;
    }
    .pri_item_btn {
        font-size: 22px;
        padding: 26px 155px;
        white-space: nowrap;
        width: 100%;
        margin-bottom: 60px;
    }
    .pri_item_text {
        font-size: 22px;
    }
    .pri__items span {
        font-size: 23px;
    }
    .pri__items {
        margin: 22px 0;
    }
    .pri__items i {
        font-size: 15px;
    }
    .pri__items div {
        width: 26px;
        height: 26px;
    }
    #team {
        padding: 60px 20px;
    }
    .team_item {
        margin-bottom: 95px;
    }
    .team_info {
        padding: 50px;
        display: block;
        text-align: center;
    }
    .team_name {
        font-size: 30px;
    }
    .team_title {
        font-size: 22px;
    }
    .team_info {
        padding: 32px;
        display: block;
        text-align: center;
    }
    .team_social {
        display: flex;
        opacity: 0.8;
        justify-content: center;
        font-size: 30px;
    }
    #_team {
        padding: 60px;
    }
    .__team_btn {
        max-width: 550px;
    }
    ._team_heading {
        font-size: 34px;
    }
    ._team_dis {
        font-size: 25px;
        line-height: 39px;
    }
    ._team_img {
        height: 92px;
        margin-bottom: 22px;
    }
    ._team_info_name {
        font-size: 28px;
        white-space: nowrap;
        text-align: center;
    }
    .item_dot.active {
        width: 45px;
    }
    .item_dot {
        height: 100%;
        width: 17px;
        height: 14px;
    }
    ._team_apply {
        font-size: 23px;
    }
    ._team_infor {
        max-width: 300px;
        margin: 35px auto;
    }
    .list_dot {
        bottom: 55px;
    }
    .header_button_1 {
        margin-bottom: 0;
        width: 260px;
        padding: 25px 30px;
        font-size: 24px;
    }
    .header_button_2 {
        margin-bottom: 0;
        width: 260px;
        padding: 25px 30px;
        font-size: 24px;
    }
    #faq {
        padding: 60px 25px;
    }
    .faq_head {
        padding: 33px;
    }
    .faq_number {
        width: 60px;
        height: 60px;
        font-size: 26px;
    }
    .faq_head_text {
        font-weight: 100;
        font-size: 24px;
        margin: auto;
    }
    .fa_head_icon {
        font-size: 33px;
    }
    .faq_body_text {
        color: black;
        opacity: 0.6;
        font-size: 26px;
    }
    .faq_body.active {
        height: 328px;
    }
    #blog {
        padding: 60px 25px;
    }
    .blog_img {
        max-width: 100%;
        height: 372px;
    }
    .blog_img img {
        width: 100%;
    }
    .blog_item {
        margin-bottom: 50px;
    }
    .blog_body {
        padding: 48px;
    }
    .blog_title {
        font-size: 26px;
        color: #ff6b81;
        margin-bottom: 16px;
    }
    .blog_heading {
        font-size: 33px;
        margin-bottom: 42px;
    }
    .blog_text {
        font-size: 26px;
    }
    .blog_info {
        margin-top: 52px;
    }
    .blog_info_img {
        border-radius: 888px;
        width: 100px;
        height: 100px;
        margin-right: 39px;
    }
    .blog_info_name {
        font-size: 28px;
        margin-bottom: 12px;
    }
    .blog_info_time {
        font-size: 24px;
        opacity: 0.6;
    }
    .footer_info {
        text-align: center;
        margin-bottom: 134px;
    }
    .footer_social {
        display: flex;
        justify-content: center;
        margin: 74px 0;
    }
    .footer_heading {
        font-size: 116px;
        letter-spacing: 4px;
        margin-bottom: 77px;
    }
    .footer_title {
        font-size: 47px;
    }
    .footer_social_item {
        margin-right: 65px;
        font-size: 56px;
        margin-bottom: 41px;
    }
    .main_item {
        font-size: 53px;
        margin-bottom: 20px;
        text-align: center;
    }
    .main_heading {
        font-size: 69px;
        margin-bottom: 48px;
        text-align: center;
    }
    .a{
        margin-bottom: 100px;
    }
    .footer_second {
        padding: 86px;
    }
    .foot_second_heading {
        font-size: 57px;
        margin-bottom: 35px;
        text-align: center;
    }
    .footer_second_title {
        font-size: 44px;
        text-align: center;
        margin-bottom: 89px;
    }
    .footer_email {
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .footer_email input {
        font-size: 49px;
        padding: 35px 15px;
        text-align: center;
        margin-bottom: 34px;
        border-radius: 19px;
    }
    .footer_email button {
        padding: 35px 18px;
        font-size: 49px;
        border-radius: 19px;
        margin-left: 0;
        transition: all 0.6s ease;
    }

}