*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html{
    min-width: fit-content;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 15px;
    height: 0px;
    cursor: pointer;
}

html::-webkit-scrollbar-thumb{
    background-color: #ff6b81;
    border-radius: 100rem;
    height: 150px;
}
html::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
body{
    overflow-x: hidden;
    width: 100%;
}
a{
    text-decoration: none;
}
.scroll_top:hover{
    transform: translateY(-10px);
    background: #000;
    cursor: pointer;
}
.scroll_top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    background: #ff6b81;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.6s ease;
}
.line.active{
    background-color: #ff6b81;
}
.line{
    position: absolute;
    height: 4px;
    width: auto;
    background: #fff;
    transition: all 0.6s ease;
    border-radius: 10px;
    visibility: visible;
}
#menu.active{
    background: #ff6b81;
    box-shadow: none;
}
#menu{
    position: relative;
    height: 93px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    padding: 0 105px;
    background: white;
    transition: all 0.6s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.menu_bar_icon{
    display: none;
}
.menu_logo{
    margin: auto 0;
    max-height: 100%;
    max-width: 80px;
}
.menu_logo_img{
    max-width: 100%;
}
.menu_list{

}
.menu_item{
    display: inline-block;
    margin-right: 40px;
}
.menu_item a.hover:hover{
    color: #ff6b81;
}
.menu_item a.active{
    color: white;

}
.menu_item a.active2{
    color: #ff6b81;

}
.menu_item a{
    color: black;
    text-decoration: none;
    line-height: 93px;
    transition: all 0.6s ease;
}
.menu_btn.active{
    border: 2px solid white;
}
.menu_btn{
    padding: 12px 30px;
    color: white;
    background-color: #ff6b81;
    border: 2px solid #ff6b81;
    border-radius: 8px;
    max-height: 50px;
    flex-wrap: wrap;
    transition: all 0.6s ease;
    margin-top: 20px;
}
.menu_btn:hover{
    background: #081828;
    border: 2px solid #081828;
}
.menu_btn span{
    white-space: nowrap;
}
#header{
    height: auto;
    margin-top: 93px;
    background-color: #ff6b81;
    max-width: 100%;
    padding: 100px 0;
}
.header_item:nth-child(1).active{
    transform: translateX(-400px);
    opacity: 0;
}
.header_item:nth-child(1){
    padding: 116px 10px 116px 116px;
    transition: all 1s ease-in-out;
}
.header_heading{
    font-size: 38px;
    font-weight: 800;
    color: white;
    line-height: 50px;
    transition: all 1.2s ease-in-out;
}
.header_title{
    color: white;
    margin-top: 30px;
    font-size: 15px;
}
.header_button{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 355px;
}
.header_button_1.active_top{
    transform: translateY(200px);
    opacity: 0;
}
.header_button_1{
    color: #ff6b81;
    background-color: white;
    border: 1px solid white;
    padding: 12px 34px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.6s ease-in-out;
}
.header_button_1:hover{
    background: #081828;
    color: white;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.header_button_1 i{
    margin-right: 5px;
}
.header_button_2.active_top{
    transform: translateY(200px);
    opacity: 0;
}
.header_button_2{
    padding: 12px 30px;
    border: 2px solid white;
    background-color: #ff6b81;
    border-radius: 8px;
    color: white;
    transition:  all 0.6s ease-in-out;
}
.header_button_2:hover{
    background: white;
    color: #ff6b81;
    border: 2px solid white;
    transition: all 0.5s ease;
}
.header_button_2:hover.header_button_2 i{
    color: #ff6b81;
}
.header_button_2 i{
    margin-right: 5px;
    color: white;
}
.header_item:nth-child(2){
    transition: all 1s ease-in-out;
    padding-left: 20px;
}
.header_img.active{
    transform: translateX(400px);
    opacity: 0;
}
.header_img{
    max-width: 640px;
    height: auto;
    transition:  all 1s ease-in-out;
}

#feature{
    height: auto;
    padding: 116px 0;
    background: #f5f5f5;
    max-width: 100%;
}
.feature_content{
    max-width: 500px;
    margin: 0 auto 100px auto;
}
.feature_head.active{
    transform: translateX(-200px);
    opacity: 0;
}
.feature_head{
    text-align: center;
    color: #ff6b81;
    font-weight: 500;
    margin-bottom: 10px;
    transition: all 1s linear;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.feature_heading.active{
    transform: translateX(200px);
    opacity: 0;
}
.feature_heading{
    text-align: center;
    font-weight: 800;
    display: block;
    font-size: 34px;
    margin-bottom: 30px;
    transition: all 1s linear;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.feature_text.active{
    transform: scale(0.5);
    opacity: 0;
}
.feature_text{
    display: block;
    color: black;
    opacity: 0.6;
    text-align: center;
    transition: all 1s linear;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.feature_list{
    padding: 0 116px;
}
.feature_item{
    padding: 14px;
}
.feature_icon{
    background-color: #ff6b81;
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: all 0.6s ease;
    align-items: center;
}
.feature__item.active_left{
    transform: translateX(200px);
    opacity: 0;
}
.feature__item.active_right{
    transform: translateX(-200px);
    opacity: 0;
}
.feature__item{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 28px;
    border-radius: 8px;
    background: white;
    transition: all 0.6s ease;
}
.feature_icon_text{
    color: black;
    margin-top: 25px;
    font-size: 18px;
}
.feature_dis{
    font-size: 14px;
    color: black;
    opacity: 0.6;
    margin-top: 25px;
}
.feature__item:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.feature__item:hover .feature_icon{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    user-select: none;
}

#overview{
    height: auto;
    max-width: 100%;
}

#overview{
    padding: 116px;
}
.overview_item.active_left{
    transform: translateX(200px);
    opacity: 0;
}
.overview_item.active_right{
    transform: translateX(-200px);
    opacity: 0;
}
.overview_item{
    transition: all 1s ease-in-out;
}
.overview_list{
    margin-bottom: 200px;
}
.overview_item2.active_right{
    transform: translateX(-200px);
    opacity: 0;
}
.overview_item2{
    transition: all 1s ease-in-out;
    padding-right: 50px;
}
.overview_item3.active_left{
    transform: translateX(200px);
    opacity: 0;
}
.overview_item3{
    transition: all 1s ease-in-out;
    padding-left: 50px;
}
.overview_btn{
    background-color: #ff6b81;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: all 0.6s ease;
    align-items: center;
    border: 1px solid white;
    margin-bottom: 30px;
}
.overview_heading{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.overview_title{
    color: black;
    opacity: 0.6;
    font-size: 15px;
    margin-bottom: 30px;
}
.overview_btn2{
    padding: 12px 30px;
    color: white;
    background-color: #ff6b81;
    border: 2px solid #ff6b81;
    border-radius: 8px;
    max-height: 50px;
    flex-wrap: wrap;
    transition: all 0.6s ease;
    margin-top: 20px;
}
.overview_btn2:hover{
    background: #081828;
    border: 2px solid #081828;
}
.overview__item{
    max-width: 100%;
    max-height: auto;
    padding-left: 70px;
}
.overview_img{
    max-width: 100%;
}
.overview_content{
    color: white;
    background: #ff6b81;
    text-align: center;
    padding: 122px 0;
}
.content_heading.active_right{
    transform: translateX(-200px);
    opacity: 0;
}
.content_heading{
    font-weight: 800;
    letter-spacing: 2px;
    transition:  all 1s ease;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.content_title.active_left{
    transform: translateX(+200px);
    opacity: 0;
}
.content_title{
    font-size: 15px;
    margin-bottom: 65px;
    transition:  all 1s ease;
    max-width: 518px;
    display: inline-block;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.content_list{

}
.content_item1{
    padding-left: 250px;
}
.content_item2{

}
.content_item3{
    padding-right: 250px;
}
.content_num{
    font-weight: 800;
    font-size: 35px;
}
.content_dis{
    font-size: 15px;
}

#pricing{
    height: auto;
    padding: 116px 0;
    background: #f5f5f5;
    max-width: 100%;
}
.pri_list{
    padding: 0 116px;
}
.pri_item.active_top{
    transform: translateY(200px);
    opacity: 0;
}
.pri_item.active_bottom{
    transform: translateY(-200px);
    opacity: 0;
}
.pri_item{
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 1s ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}

.pri_item:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transform: translateY(-10px);
}
.pri_item_heading{
    font-size: 16px;
    font-weight: 600;
}
.pri_item_title{
    font-weight: 400;
    font-size: 14px;
    color: black;
    opacity: 0.6;
    margin: 16px 0;
}
.pri_item_cost{
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
}
.pri_item_cost h4{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    color: #081828;
}
.pri_item_cost p{
    font-size: 15px;
    color: black;
    opacity: 0.6;
}
.pri_item_btn{
    background-color: #081828;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 52px;
    margin-bottom: 26px;
    border-radius: 10px;
    width: 100%;
    white-space: nowrap;
    border: none;
    transition: all 0.6s ease;
}
.pri_item_btn:hover{
    background: #ff6b81;
}
.pri_item_text{
    font-size: 13px;
    margin-bottom: 16px;
}
.pri_items{
    list-style: none;
    display: inline;
}
.pri__items div{
    width: 14px;
    height: 14px;
    border-radius: 888px;
    border: 1px solid #ff6b81;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 9px auto 0;
}
.pri__items i{
    position: relative;
    font-size: 7px;
    color: #ff6b81;
}
.pri__items{
    display: flex;
    margin: 10px 0;
}
.pri__items span{
    font-size: 14px;
    opacity: 0.6;
}
#team{
    padding: 116px;
}
.team_list{

}
.team_item.active{
    transform: scale(0.2);
    opacity: 0;
}
.team_item{
    border-radius: 10px;
    transition: all 1s ease;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.team_item:hover{
    transform: translateY(-10px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.team_img{
    width: 100%;
}
.team_img img{
    width: 100%;
}
.team_info{
    padding: 32px;
    display: flex;
    justify-content: space-between;
}
.team_text{

}
.team_name{
    font-size: 17px;
    font-weight: 600;
}
.team_title{
    font-size: 15px;
    color: #ff6b81;
}
.team_social{
    display: flex;
    opacity: 0.8;
}
.team_tiw{
    margin-right: 18px;
}
.team_tiw i{
    transition: all 0.6s ease;
}
.team_tiw i:hover{
    color: #ff6b81;
}
.team_in i{
    transition: all 0.6s ease;
}
.team_in i:hover{
    color: #ff6b81;
}


#_team{
    background: #f5f5f5;
    padding: 116px;
    position: relative;
}
._team_wrapper.active{
    transform: rotateY(360deg);
    opacity: 0;
}
._team_wrapper{
    max-width: 566px;
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow: auto;
    transition: all 1s ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
._team_wrapper::-webkit-scrollbar{
    display: none;
}
._team_list{
    max-width: 100%;
    display: flex;
}
.tea_item{
    flex: 1 0 100%;

}
._team_heading{
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-bottom: 36px;
}
._team_dis{
    color: #081828;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
}
._team_infor{
    max-width: 200px;
    margin: 35px auto;
}
._team_img{
    border-radius: 888px;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
._team_info_name{
    font-size: 15px;
    text-align: center;
}
._team_apply{
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
}
.list_dot.active_top{
    transform: translateY(200px);
    opacity: 0;
}
.list_dot{
    position: absolute;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    display: flex;
    transition: all 0.6s ease;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.item_dot.active{
    background: #ff6b81;
    width: 23px;
}
.item_dot{
    background: #000;
    height: 100%;
    width: 10px;
    margin-right: 5px;
    border-radius: 8px;
    transition: all 0.6s ease;
}

.__team_btn{
    max-width: 364px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#faq{
    padding: 116px;
}
.faq_item{
    height: auto;
    transition: all 1s ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.faq_item.active_right{
    transform: translateX(-200px);
    opacity: 0;
}
.faq_item.active_left{
    transform: translateX(200px);
    opacity: 0;
}
.faq_list{

}
.faq_item{
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.faq_head *{
    pointer-events: none;
}
.faq_head.active{
    border-radius: 18px 18px 0 0;
    background-color: #ff6b81;
}
.faq_head{
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border-radius: 12px;
    transition: all 0.2s ease;
    user-select: none;
    cursor: pointer;
}
.fa__name{
    display: flex;
}
.faq_number{
    margin-right: 16px;
    background-color: white;
    border: 1px solid #fff;
    border-radius: 888px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}
.faq_head_text.active{
    color: white;
}
.faq_head_text{
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.6s ease;
}
.fa_head_icon.active{
    color: white;
}
.fa_head_icon{
    color: #000;
    opacity: 0.6;
    transition: all 0.6s ease;

}
.faq_body.active{
    height: 124px;
}
.faq_body{
    transition: all 0.6s ease;
    overflow: hidden;
    height: 0;
}
.faq_body_text{
    color: black;
    opacity: 0.6;
    font-size: 15px;
}
.faq_text_wrapper{
    padding: 30px;
}

#blog{
    background-color: #f5f5f5;
    padding: 116px;
}

.blog_list{

}
.blog_item.active{
    transform: rotateY(180deg);
    opacity: 0;
}
.blog_item{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.6s ease;
}
.blog_item:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.blog_img{
    overflow: hidden;
    width: 100%;
    height: 205px;
    cursor: pointer;
}
.blog_img img{
    transition: 0.6s ease;
    width: 100%;
}
.blog_item:hover .blog_img img{
    transform: scale(1.2);
    object-fit: cover;
}
.blog_body{
    padding: 36px;
}
.blog_title{
    font-size: 14px;
    color: #ff6b81;
    margin-bottom: 10px;
}
.blog_heading{
    font-size: 18px;
    margin-bottom: 19px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.blog_text{
    font-size: 15px;
    opacity: 0.6;
}
.blog_info{
    display: flex;
    margin-top: 25px;
}
.blog_info_img{
    border-radius: 888px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.blog_info_text{

}
.blog_info_name{
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 6px;
}
.blog_info_time{
    display: flex;
    font-size: 13px;
    opacity: 0.6;
}
.blog_info_date{
    position: relative;
    margin-right: 30px;
}
.blog_info_date::before{
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 888px;
    background: #000;
    opacity: 0.6;
}
.blog_info_minute{

}
._blog{
    padding: 80px 116px;
}
._blob_wrapper{
    overflow-x: scroll;
    margin: auto;
    scroll-behavior: smooth;
}
._blob_wrapper::-webkit-scrollbar{
    display: none;
}
._blog_list{
    display: flex;
    align-items: center;
}
._blog_item{
    margin: 20px;
    display: block;
    height: 60px;
}

#footer{
    padding: 100px;
    color: white;
    background-color: #081828;
}
.footer_info{
}
.footer_heading{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.footer_title{
    font-size: 13px;
    color: #ccc;
}
.footer_social{
    display: flex;
}
.footer_social_item{
    margin-right: 20px;
    font-size: 15px;
    color: #ccc;
    margin-bottom: 41px;
    margin-top: 26px;
    transition: all 0.6s ease;
    cursor: pointer;
}
.footer_social_item:hover{
    color: #ff6b81;
}
.main_heading{
    font-size: 17px;
    color: #ccc;
    margin-bottom: 22px;
}
.main_list{
    list-style: none;
    display: inline;
}
.main_item{
    color: #ccc;
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 10px;
    transition: all 0.6s ease;
    cursor: pointer;
}
.main_item:hover{
    color: #ff6b81;
}
.footer_second{
    padding: 45px;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin-top: 100px;
}
.foot_second_heading{
    font-size: 17px;
    margin-block: 8px;
    color: #ccc;
}
.footer_second_title{
    color: #ccc;
    font-size: 12px;
}
.footer_email{
    padding: 0 0 0 124px;
}
.footer_email input{
    outline: none;
    font-size: 14px;
    background-color: #394653;
    border: 0;
    padding: 11px 15px;
    border-radius: 8px;
}
.footer_email input::placeholder{
    color: white;
}
.footer_email button{
    padding: 9px 18px;
    background-color: #ff6b81;
    color: white;
    font-size: 14px;
    border: 0;
    border-radius: 8px;
    margin-left: 10px;
    transition: all 0.6s ease;
}
.footer_email button:hover{
    color: #ff6b81;
    background-color: white;
}

#contact_header{
    margin-top: 93px;
    padding: 116px;
    background: #ff6b81;
}
.contact_heading{
    color:#ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
}
.contact_link{
    display: flex;
    max-width: 140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.contact_link i{
    color: white;
    color: white;
    font-size: 12px;
    margin: auto 0;
}
.contact_home{
    margin: auto 0;
}
.contact_home a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.contact_title{
    margin: 4px 0 0 0;
    color: white;
    font-size: 12px;
}

#contact_main{
    padding: 116px;
}
.contact_main_list{

}
.main_items:hover.main_items *{
    color: white;
    opacity: 1;
    cursor: pointer;
}
.main_items:hover{
    background-color: #ff6b81;
}
.main_items.active{
    transform: scale(0.2);
    opacity: 0;
}
.main_items{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    transition: all 0.6s ease;
}
.main_icon{
    color: #ff6b81;
    font-size: 30px;
    transform: translateY(-6px);
}
.main_content{

}
.main-heading{
    font-weight: 600;
    margin: 0px 0px 15px;
    font-size: 19px;
    font-weight: 600;
    margin: 0px 0px 15px;
    font-size: 13px;
    letter-spacing: 1px;
}
.main_address{
    opacity: 0.6;
    font-size: 13px;
    margin: 0;
}
.main_address a{
    text-decoration: none;
    color: black;
    transition: all 0.6s ease;
}

#contact_back{
    position: relative;
    max-width: 100%;
}
.contact__back{
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contact__back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contact__back::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: #ff6b81;
}
.contact_front{
    padding: 82px 101px;
}
.contact_front_item:nth-child(1) *{
    color: white;
}
.contact_front_heading{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 26px;
}
.conatct_front_title{
    font-size: 14px;
    margin-bottom: 40px;
}
.contact_front_question{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact_front_question img{
    border-radius: 888px;
    margin-right: 20px;
}
.contact_question_content span{
    font-size: 12px;
}
.contact_question_content h4{
    font-size: 20px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}
.contact_front_date{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
.contact_front_date li{
    margin-bottom: 3px;
    font-size: 13px;
}
.contact_front_call{
    font-size: 15px;
}
.contact_front_item.active_top{
    transform: translateY(200px);
    opacity: 0;
}
.contact_front_item.active_bottom{
    transform: translateY(-200px);
    opacity: 0;
}
.contact_front_item{
    transition:  all 1s ease-in-out;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}
.contact_front_item2{
    color: black;
}
.contact_front_item2 form{
    background-color: white;
    width: 563px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
}
.contact_front_item2 input{
    padding: 12px 0 12px 19px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    background-color: #f9f9f9;
}
.contact_front_item2 textarea{
    padding: 13px 19px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 177px;
    max-width: 467px;
    margin: auto;
    font-size: 14px;
    background-color: #f9f9f9;
}
.contact_front_item2 button{
    background-color: #ff6b81;
    color: white;
    border: 0;
    border-radius: 8px;
    max-width: 467px;
    margin: 15px auto 0 auto;
    padding: 13px 0;
}
#contact_map.active{
    transform: scale(0.2);
    opacity: 0;
}
#contact_map{
    max-width: 100%;
    transition: all 1s ease-in-out;
}
#contact_map iframe{
    width: 100%;
    margin-bottom: -5px;
}